Authlib
bcrypt    
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-DotEnv
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
PyJWT
python-dotenv
requests
SQLAlchemy
urllib3
uvicorn
Werkzeug
zipp